<h1><%= @country.name%></h1>
<p><%= @country.universities.count %> universities in <%=@country.name%></p>

<% @country.universities.each do |u|%>

    <p><%= u.name %> , <%=  link_to 'See University', u %></p>

<%end%>

