<!DOCTYPE html>
<html>
  <head>
    <title>Introproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'About Us', root_path %></li>
      <li><%= link_to 'Universities', university_index_path %></li>
      <li><%= link_to 'Countries', country_index_path %></li>
    </ul>
    <div id = "search">
          <%= form_tag(results_search_index_path, method: "get") do %>
            <%= label_tag(:q, "Search:") %>
            <%= text_field_tag(:q) %>
            <%= collection_select(:query_country , :country_id , Country.all.order(:name), :id ,:name,{:include_blank => 'University Name'})%>
            <%= submit_tag("Search") %>
          <% end %>
    </div>
    <%= yield %>
  </body>
</html>
